@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.scss');

$primary-white:#fefefe;
$primary-gray:#c4c4c4;

.bg-w-1 {
  background-color: $primary-white;
}

.bg-g-1 {
  background-color: $primary-gray;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}